::selection {
  background: #161616;
  color: #fefefe;
}
body {
  background-color: #fefefe;
  font-family: 'Roboto Mono Variable', monospace;
  font-weight: 400;
  color: #161616;
  margin: 0;
  user-select: none;
}
